obj/Debug/net6.0/refint/MvcAppJwtAuth.dll
obj/Debug/net6.0/ref/MvcAppJwtAuth.dll
obj/Debug/net6.0/MvcAppJwtAuth.pdb
obj/Debug/net6.0/MvcAppJwtAuth.dll
obj/staticwebassets.pack.sentinel
bin/Debug/net6.0/MvcAppJwtAuth.pdb
bin/Debug/net6.0/MvcAppJwtAuth.dll
